@import url("http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin");

body {
    /* Use a slightly darker background */
    background-color: rgb(200, 200, 200);
    /* Use Ubuntu font family */
    font-family: Ubuntu, 'Times New Roman', Times, serif;
    padding: 2%;
}

.coming-soon {
    width: 80%;
    /* Center the div */
    position: absolute;
    top: 50%;
    left: 50%;
    /* Center on middle of the div */
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo-img {
    /* Resize img according to page width */
    width: 60%;
}

footer {
    /* Fix footer to the bottom of the page */
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    border-top: 1px solid #21212121;   
}
